h2 {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: solid 2px #efefef;
  color: #282C34;
}

.navbar {
  border-bottom: solid 1px #efefef;
  background-color: #282C34;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.navbar > h1 {
  margin: 20px 0px 10px 20px;
  color: #61DAFB;
}

.navbar > ul {
  position: absolute;
  top: 7px;
  left: 200px;
}

.navbar > ul > li {
  margin: 5px;
  display: inline-block;
}


.navbar > ul > li > a {
  color: #CFD0D1;
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  color: #80D8F7;
}

.navbar > ul > span {
  color: #CFD0D1;
}

.container {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 90%;
  z-index: 0;
}

.page1 {
  color: red;
}

.page2 {
  color: blue;
}

.highlight {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: solid 1px #ccc;
  background-color: #F8F8F8;
}

.example {
  margin: 10px;
  padding: 10px;
  border: solid 1px #efefef;
  width: 50%;
}

.example > h2 {
  margin: 0;
  color: #282C34;
}

.code {
  background-color: #ffffcc;
  padding: 2px;
}

footer {
  border-top: solid 1px #efefef;
  background-color: #282C34;
  height: 200px;
}
